* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased ;
    /* -webkit-font-smoothing: antialiased ; */
    /* serve para melhorar a qualidade da fonte */
}

:root {
    --almostwhite : #fffdfa;
    --darkblue : #00001a;
    --gunmetal : #5e607a;
    --vermillion : #f15d51;
    --yellow : #e9aa52;
    --silver : #c5c6ce;
}

body {
    padding: 1.75rem 1rem;
    background-color: var(--almostwhite);
}

body.menu-open::before {
    /* body.menu-open::before
    SUPOSTO ELEMENTO ( Ñ EXISTE ) */
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    color: rgba(0, 0, 26, 0.5);
    top: 0;
    left: 0;
    
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.header-mobile button {
    border: none;
    background: none;
    width: fit-content;
}

.header-mobile nav {
    position: fixed;
    background-color: var(--almostwhite);
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;
    z-index: 999;

    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
    display: none;
}

.header-mobile nav button {
    margin-left: auto;
    margin-bottom: 4rem;
}

.header-mobile nav a {
    text-decoration: none;
    color: var(--darkblue);
    font-size: 1.125rem;
    line-height: 1.5rem;
}


.primeira-seçao {
    margin-bottom: 4rem;
}

.primeira-seçao img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.primeira-seçao h1 {
    font-size: 2.5rem;
    line-height: 100%;
    color: var(--darkblue);
    margin-bottom: 1rem;
    /* line-height: 100%; */
    /* o valor da tag acima está conectada ao tamanho da fonte */
}

.primeira-seçao p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gunmetal);
    margin-bottom: 1.5rem;
}

.primeira-seçao button {
    font-size: 0.875;
    padding: 0.75rem 2rem;
    background-color: var(--vermillion);
    border: none;
    text-transform: uppercase;
    color: var(--almostwhite);
    font-weight: 700;
    letter-spacing: 0.25rem;
    /* letter-spacing: 0.25rem; */
    /* espaço entre as letras */
    line-height: 1.5rem;
}

.segunda-seçao {
    background-color: var(--darkblue);
    margin-bottom: 4rem;
    padding: 1.5rem 1.1rem;
}

.segunda-seçao h2 {
    font-size: 2rem;
    line-height: 100%;
    color: var(--yellow);
    margin-bottom: 2.2rem;
}
.segunda-seçao h3 {
    color: var(--almostwhite);
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.segunda-seçao p {
    color: var(--silver);
    font-size: 0.9375rem;
    line-height: 1.625rem;
}

.bb {
    border-bottom: 1px solid var(--gunmetal);
}

.mb {
    margin-bottom: 1.75rem;
}

.pb {
    padding-bottom: 1.75rem;
}

/* ESSAS MODIFICAÇÕES (para as div's) PODERIAM (AO CERTO DEVERIAM) ESTAR EM UMA SÓ CLASS, DARIAM O MESMO RESULTADO, "mas saiba que uma tag pode fazer parte de várias classes"  */

.terceira-seçao > div{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    /* "gap" trás distância entre elementos selecionados pelo display */
    margin-bottom: 2rem;
}

.terceira-seçao img {
    max-width: 6.25rem;
}

.terceira-seçao strong {
    color: var(--silver);
    font-size: 2rem;
    line-height: 100%;
}

.terceira-seçao h2 {
    font-size: 1.125rem;
    font-weight: 800;
    color: var(--darkblue);
    line-height: 1.5rem;
    margin-block: 0.6rem ;
}

.terceira-seçao p {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: var(--gunmetal);
}